{% extends 'base_monitor.html.twig' %}

{% block title %} Monitor {% endblock %}

{% block body %}
    <div class="container-fluid">
        <form>
            <input  type="hidden" name="rowsTotal" id="rowsTotal" value="">
        </form>

        <table class="table-monitor-header">
            <thead>
            <tr>
                <th style="text-align: center;font-size: 30px" colspan="9">TASK MONITOR</th>
            </tr>
            <tr>
                <th style="width: 5%" scope="col">#</th>
                <th style="width: 10%" scope="col">Collaborator</th>
                <th style="width: 15%" scope="col">Project</th>
                <th style="width: 20%" scope="col">Task</th>
                <th style="width: 10%" scope="col">Start Task</th>
                <th style="width: 10%" scope="col">End Task</th>
                <th style="width: 10%" scope="col">Total Task Time</th>
                <th style="width: 10%" scope="col">Status</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="container-fluid">
        <div style="margin-top: 10vh">
            <table class="table table-monitor">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
